html,body{
    height: 100%;
}

/* LOGIN */

.login-content{
    background-image: url("../img/login.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.login-form {
    position: absolute;
    right: 10vw;
    top: 25%;
    width: 250px;
    border: 1px solid #9eb9eb;
    border-radius: 15px;
    padding: 0 30px;
    box-shadow: 0px 0px 5px 2px rgb(163, 162, 162);
}

.login-icon {
    margin: 15px 0;
}

.login-form input {
    padding: 10px 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid #454544bb;
    outline: none;
}

.login-form button {
    margin: 20px auto;
    padding: 10px;
    background-color: #9eb9eb;
    color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    border: none;
    outline: none;
}

.login-form button:focus {
    background:  #6d88b9;
}

.login-btn {
    width: 100px;
}

.register-btn {
    width: 120px;
}

#email {
    display: none;
}

.gotologin {
    cursor: pointer;
    color: #608cdd;
    font-size: 12px;
    white-space: nowrap;
}

.gotologin:hover {
    text-decoration: underline;
}

/* nav  */
.nav-border {
    border: 1px solid rgb(214, 214, 214);
}

.nav-bg {
    background-color: #f3f4f5;
}

.nav-item{
    color: black;
}

.search-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
}

.search-icon {
    position: absolute;
    display: flex;
    align-self: center;
    right: 10px;
    color: #989898;
}

.active {
    text-decoration: underline;
}

/* FOOTER */
.footer-bg{
    background-color: #1b1c1d;
}

footer p {
    padding: 15px 100px;
}

footer {
    width: 100%;
}

/* HOME */
.home-bg {
    background-image: url(../img/home.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}